{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<html>
        <head>
            <title>My IMG</title>
        </head>
        <body>

        <img src="{% static 'img/cars/1.jpg' %}">
        <img src="{% static 'img/cars/2.jpg' %}">
        <img src="{% static 'img/cars/3.jpg' %}">
        <img src="{% static 'img/cars/4.jpg' %}">
        <img src="{% static 'img/cars/5.jpg' %}">
        <img src="{% static 'img/cars/6.jpg' %}">
        </body>
    </html>

{% endblock content %}